---
- name: 'Install and configure Zookeeper'
  block:
  - name: 'Install zookeeper repo'
    apt_repository:
      repo: '{{ zk_debian_apt_repositories }}'
      state: present
    retries: 3
    delay: 3
    register: installed_repo
    until: installed_repo is success

  - name: 'Install required system packages'
    apt:
      name: '{{ zk_packages }}'
      state: present
    register: installed_packages
    until: installed_packages is succeeded

  - name: 'Overwrite myid and default config files'
    template:
      src: '{{ config }}.j2'
      dest: '/etc/zookeeper/conf/{{ config }}'
    loop:
      - myid
      - zoo.cfg
      - log4j.properties
    loop_control:
      loop_var: config
    notify:
      - Restart zookeeper

  become: True
