# The number of milliseconds of each tick
tickTime={{ zk_tick_time }}
# The number of ticks that the initial 
# synchronization phase can take
initLimit={{ zk_init_limit }}
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit={{ zk_sync_limit }}
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir={{ zk_dir }}/data
# the port at which the clients will connect
clientPort={{ zk_client_port }}
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount={{ zk_autopurge_snapRetainCount }}
# Purge task interval in hours
# Set to "0" to disable auto purge feature
autopurge.purgeInterval={{ zk_autopurge_purgeInterval }}
